{% extends 'index.html'%}
{% load static%}
{% block title %}
<title>CRUD | add</title>
{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <h5 class="bg-success text-center text-light p-2">Update Employee Records</h5>
    <div class="card bg-light p-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>Name</label>
                <input type="text" name="name" value="{{data.name}}" required placeholder="Enter Full name"
                    class="form-control">
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Email Address</label>
                    <input type="email" name="email" value="{{data.email}}" required placeholder="Enter email"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label>phone</label>
                    <input type="tel" name="phone" value="{{data.phone}}" required placeholder="Enter phone number"
                        class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>designation</label>
                    <input type="text" name="dsg" value="{{data.dsg}}" required placeholder="Enter designation"
                        class="form-control">
                </div>
                <div class="col-md-6">
                    <label>salary</label>
                    <input type="number" name="salary" value="{{data.salary}}" required placeholder="Enter salary"
                        class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>city</label>
                    <input type="text" name="city" value="{{data.city}}" placeholder="Enter city" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>state</label>
                    <input type="ext" name="state" value="{{data.state}}" placeholder="Enter state"
                        class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <button type="reset" class="btn btn-danger w-100 btn-sm">Reset</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success w-100 btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}